<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login | DevMind</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/auth.css') }}">

</head>

<body>

    <div class="auth-container">

        <div class="auth-box">

            <a href="/" class="auth-logo">
                Dev<span>Mind</span>
            </a>

            <p class="tagline">
                Welcome back to DevMind.
            </p>

            <h1>Login to your account</h1>

            <form action="/login" method="POST">

                <label>Email Address</label>

                <input
                    type="email"
                    name="email"
                    placeholder="Enter your email"
                    required
                >

                <label>Password</label>

                <input
                    type="password"
                    name="password"
                    placeholder="Enter your password"
                    required
                >

                <button type="submit">
                    Login
                </button>

            </form>

            <p class="switch-auth">

                Don't have an account?

                <a href="/register">
                    Create Account
                </a>

            </p>

        </div>

    </div>

</body>

</html>